<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <title>Heatmap-test</title>
    <link  href="/static/heatmap.css" type="text/css" rel="stylesheet" >
    <script  src="//maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false" type="text/javascript"></script>
    <script src="/static/heatmap.js" type="text/javascript" ></script>
  </head>
  <body>
    <div id="panel">
      <button onclick="toggleHeatmap(); return false;">Toggle Heatmap</button>
      <button onclick="changeGradient(); return false;">Change gradient</button>
      <button onclick="changeRadius(); return false;">Change radius</button>
      <button onclick="changeOpacity(); return false;">Change opacity</button>
    </div>
    <div id="map-canvas"></div>
  </body>
</html>
