<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <title>Heatmap-test</title>
    <link type="text/css" rel="stylesheet" href="/static/heatmap.css" >
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
    <script type="text/javascript" src="/static/heatmap.js"></script>
  </head>
  <body>
    <div id="panel">
      <button onclick="toggleHeatmap(); return false;">Toggle Heatmap</button>
      <button onclick="changeGradient(); return false;">Change gradient</button>
      <button onclick="changeRadius(); return false;">Change radius</button>
      <button onclick="changeOpacity(); return false;">Change opacity</button>
    </div>
    <div id="map-canvas"></div>
  </body>
</html>
